<div class="first-header">
    <div class="row header">
        <div class="col-lg-3">Orders - +1234567890</div>
        <div class="col-lg-5">Welcome to PG Analytics Crackers, Virudhunagar</div>
        <div class="col-lg-3 mail">Mail Us: abcdef&#64;gmail.com</div>
    </div>
</div>

<div class="container-fluid">
    <div class="row box">
        <div class="col-lg-4">
            <div class="rounded-2 px-3 m-3 mx-5 bg-success border border-4 border-warning text-white fs-5">
                <p>Crackers Available All 365 Days!<br> Diwali Sales Started. Celebrate <br> Diwali with Awesome
                    Crackers</p>
            </div>
        </div>
        <div class="col-lg-4  box2">
            <div class="row d-flex align-items-center innerbox">
                <div class="col-lg-3 col-md-4 col-sm-3 innerbox1">
                    <img class="image-fluid" src="../../../assets/image/homesmall.jpg" alt="Small Image" width="100">
                </div>
                <div class="col-6 col-md-4   col-sm-3">
                    <img class="image-fluid boximage2" src="../../../assets/image/images.png" alt="Main Image"
                        width="160">
                </div>
                <div class="col-lg-3  col-md-4  col-sm-3 innerbox2">
                    <img class="image-fluid" src="../../../assets/image/homesmall.jpg" alt="Small Image" width="100">
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-center mt-4">
            <div>
                <h5 class="text-danger fw-bold">FOR QUERIES & BULK ORDER</h5>
                <h6 class="d-flex justify-content-center fw-bold">+91 1234567890</h6>
                <h6 class="d-flex justify-content-center fw-bold">+91 9876543210</h6>
            </div>
        </div>
    </div>
</div>

<!-- Hamburger Button -->
<!-- <button class="hamburger mt-2" aria-label="Toggle navigation">
    <span class="hamburger-icon"></span>
</button> -->
<div class="hamburger" (click)="toggleNav()">
    <span class="hamburger-icon"></span>
  </div>
<nav class="navbar"  [class.show]="isNavVisible">

    <ul>
        <li class="nav-options"><a [routerLink]="['/']">Home</a></li>
        <li class="nav-options"><a [routerLink]="['About']">About</a></li>
        <li class="nav-options"><a [routerLink]="['Productitem']">Product</a></li>
        <li class="nav-options"><a [routerLink]="['Safety']">Safety Tips</a></li>
        <li class="nav-options">Contact Us</li>
    </ul>
</nav>

<div class="banner">
    <div class="banner1">
        <img src="../../../assets/image/safetytips.jpg" alt="Banner 1" class="image-fluid">
    </div>

</div>
<div class="contactus">
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-auto col-md-auto contactus1">
            <h2 class="contactus-text1">
                Contant <Span>us</Span>
            </h2>
            <div class="contactus-text2">
                <h3>ADDRESS</h3>
                <p>4/480, Veerachelliya Puram, Sivakasi, Virudhunagar - 626 005</p>
            </div>
            <div class="contactus-text3">
                <h3>MOBILE NUMBER</h3>
                <p class="contactus-num">+91 12135 12303</p>
                <p class="contactus-num">+91 12135 12303</p>
                <p class="contactus-num">+91 12135 12303</p>
            </div>
            <div class="contactus-text3">
                <h3>Email</h3>
                <p class="contactus-email">abc&#64;gmail.com</p>
            </div>
        </div>
        <div class="col-lg-6 contactus-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15736.749677726946!2d77.9569846!3d9.5791072!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b012d308d341517%3A0x3588affa87d5566a!2sPg%20Analytics%20Virudhunagar!5e0!3m2!1sen!2sin!4v1727439513325!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
</div>

<div class="contactus-footer">
<div class="col-lg-12 text-center mt-3 Copyright">Copyright © 2022, PG Analytics Crackers.All rights reserved</div>
</div>
<div class="fixed-image">
    <img src="../../../assets/image/quickpurchase.png" alt="Quick Purchase">
</div>


