<div class="first-header">
    <div class="row header">
        <div class="col-lg-3">Orders - +1234567890</div>
        <div class="col-lg-5">Welcome to PG Analytics Crackers, Virudhunagar</div>
        <div class="col-lg-3 mail">Mail Us: abcdef&#64;gmail.com</div>
    </div>
</div>

<div class="container-fluid">
    <div class="row box">
        <div class="col-lg-4">
            <div class="rounded-2 px-3 m-3 mx-5 bg-success border border-4 border-warning text-white fs-5">
                <p>Crackers Available All 365 Days!<br> Diwali Sales Started. Celebrate <br> Diwali with Awesome
                    Crackers</p>
            </div>
        </div>
        <div class="col-lg-4  box2">
            <div class="row d-flex align-items-center innerbox">
                <div class="col-lg-3 col-md-4 col-sm-3 innerbox1">
                    <img class="image-fluid" src="../../../assets/image/homesmall.jpg" alt="Small Image" width="100">
                </div>
                <div class="col-6 col-md-4   col-sm-3">
                    <img class="image-fluid boximage2" src="../../../assets/image/images.png" alt="Main Image"
                        width="160">
                </div>
                <div class="col-lg-3  col-md-4  col-sm-3 innerbox2">
                    <img class="image-fluid" src="../../../assets/image/homesmall.jpg" alt="Small Image" width="100">
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-center mt-4">
            <div>
                <h5 class="text-danger fw-bold">FOR QUERIES & BULK ORDER</h5>
                <h6 class="d-flex justify-content-center fw-bold">+91 1234567890</h6>
                <h6 class="d-flex justify-content-center fw-bold">+91 9876543210</h6>
            </div>
        </div>
    </div>
</div>

<!-- Hamburger Button -->
<div class="hamburger" (click)="toggleNav()">
    <span class="hamburger-icon"></span>
  </div>

<nav class="navbar"[class.show]="isNavVisible">
    <ul>
        <li class="nav-options"><a [routerLink]="['/']">Home</a></li>
        <li class="nav-options"><a [routerLink]="['/About']">About</a></li>
        <li class="nav-options"><a [routerLink]="['/Productitem']">Product</a></li>
        <li class="nav-options">Safety Tips</li>
        <li class="nav-options"><a [routerLink]="['/Contact']">Contact Us</a></li>
    </ul>
</nav>

<div class="banner">
    <div class="banner1">
        <img src="../../../assets/image/safetytips.jpg" alt="Banner 1" class="image-fluid">
    </div>

</div>

<div class="tip">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6">
                <div class="tip-header">
                    <h4 class="tip-text1">PG Analytics</h4>
                    <p   class="tip-text2">There are certain Dos & Don'ts to follow while purchasing, bursting and storing crackers. Thus,
                        it is very important to follow the precautions while bursting crackers. A little negligence,
                        ignorance and carelessness can cause a fatal injury.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="do">
                    <h4 class="do-text1">Do's</h4>
                    <div class="do-tips-container">
                        <div class="col-lg-1"><span class="typcn--tick-outline"></span></div>
                        <div class="col-lg-4 "><p class="do-tips1">Instructions</p></div>
                        
                    </div>
                    <div class="col-lg-12">
                        <p class="do-instructions">Display fireworks as per the instructions mentioned on the pack.</p>
                    </div>
                    <div class="do-tips-container">
                        <div class="col-lg-1"><span class="typcn--tick-outline"></span></div>
                        <div class="col-lg-4 "><p class="do-tips1">Outdoor</p></div>
                        
                    </div>
                    <div class="col-lg-12">
                        <p class="do-instructions">Use fireworks only outdoor.</p>
                    </div>
                    <div class="do-tips-container">
                        <div class="col-lg-1"><span class="typcn--tick-outline"></span></div>
                        <div class="col-lg-6 "><p class="do-tips1">Branded Fireworks</p></div>
                        
                    </div>
                    <div class="col-lg-12">
                        <p class="do-instructions">Buy fireworks from authorized / reputed manufacturers only.</p>
                    </div>
                    <div class="do-tips-container">
                        <div class="col-lg-1"><span class="typcn--tick-outline"></span></div>
                        <div class="col-lg-4 "><p class="do-tips1">Distance</p></div>
                        
                    </div>
                    <div class="col-lg-12">
                        <p class="do-instructions">Light only one firework at a time, by one person. Others should watch from a safe distance.</p>
                    </div>
                    <div class="do-tips-container">
                        <div class="col-lg-1"><span class="typcn--tick-outline"></span></div>
                        <div class="col-lg-4 "><p class="do-tips1">Supervision</p></div>
                        
                    </div>
                    <div class="col-lg-12">
                        <p class="do-instructions">Always have adult supervision.</p>
                    </div>
                    <div class="do-tips-container">
                        <div class="col-lg-1"><span class="typcn--tick-outline"></span></div>
                        <div class="col-lg-4 "><p class="do-tips1">Water</p></div>
                        
                    </div>
                    <div class="col-lg-12">
                        <p class="do-instructions">Keep two buckets of water handy. In the event of fire or any mishap.</p>
                    </div>
                    
                    
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="dont">
                    <h4 class="do-text1">Don'ts</h4>
                    <div class="do-tips-container">
                        <div class="col-lg-1"><span class="mdi--cancel-bold"></span></div>
                        <div class="col-lg-6"><p class="do-tips1">Don't make tricks</p></div>
                        
                    </div>
                    <div class="col-lg-12">
                        <p class="do-instructions">Never make your own fireworks.</p>
                    </div>
                    <div class="do-tips-container">

                        <div class="col-lg-1"><span class="mdi--cancel-bold"></span></div>
                        <div class="col-lg-6"><p class="do-tips1">Don't relight </p></div>
                        
                    </div>
                    <div class="col-lg-12">
                        <p class="do-instructions">Never try to re-light or pick up fireworks that have not ignited fully.</p>
                    </div>
                    <div class="do-tips-container">
                        <div class="col-lg-1"><span class="mdi--cancel-bold"></span></div>
                        <div class="col-lg-6"><p class="do-tips1">Don't carry it</p></div>
                        
                    </div>
                    <div class="col-lg-12">
                        <p class="do-instructions">Never carry fireworks in your pockets</p>
                    </div>
                    <div class="do-tips-container">
                        <div class="col-lg-1"><span class="mdi--cancel-bold"></span></div>
                        <div class="col-lg-6"><p class="do-tips1">Don't Touch it</p></div>
                        
                    </div>
                    <div class="col-lg-12">
                        <p class="do-instructions">After fireworks display never pick up fireworks that may be left over, they still may be active.</p>
                    </div>
                    <div class="do-tips-container">
                        <div class="col-lg-1"><span class="mdi--cancel-bold"></span></div>
                        <div class="col-lg-6"><p class="do-tips1">Do not use Glass / Metal</p></div>
                        
                    </div>
                    <div class="col-lg-12">
                        <p class="do-instructions">Never shoot fireworks in a metal or glass containers.</p>
                    </div>
                    <div class="do-tips-container">
                        <div class="col-lg-1"><span class="mdi--cancel-bold"></span></div>
                        <div class="col-lg-6"><p class="do-tips1">Don't wear loose clothes</p></div>
                        
                    </div>
                    <div class="col-lg-12">
                        <p class="do-instructions">Do not wear loose clothing while using fireworks.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</div>
<div class="footer mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 foot1">
                <h2 class="foot1-text1">PG Analytics </h2>
                <h2 class="foot1-text2">Crackers</h2>
                <p class="foot1-text3">
                    "PG Analytics" is acknowledged as the renowned manufacturer of an exclusive range of Ground
                    Chakkar, Flower Pots, Twinkling Star, Atom Bomb, Rockets etc.
                </p>

                <p class="foot1-text3">We offer the best quality products at best price.Make celebrations more
                    memorable with superior quality of our crackers all over India.</p>
                
            </div>
            <div class="col-lg-4 foot2 ">

                <h2 class="foot2-text1">Get In Touch</h2>
                <div class="foot2-text2 mt-5">

                    <ul >
                        <li> <i class="bi bi-geo-alt-fill"></i> 57/2, First Floor, Aruppukottai Rd, Virudhunagar, Tamil Nadu 626001                            </li>
                        <li><i class="bi bi-telephone-plus-fill"></i>+91 12345 67890</li>
                        <li><i class="bi bi-telephone-plus-fill"></i>+91 12345 67890</li>
                        <li><i class="bi bi-telephone-plus-fill"></i>+91 12345 67890</li>
                        <li><i class="bi bi-envelope"></i>abc&#64;gmail.com</li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-4 foot3">
                <h2 class="foot3-text1">Reach Us</h2>
                <br><br>
                <div class="map">
                    <iframe class="iframe"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3934.1873582455823!2d77.95440967400226!3d9.579112480137516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b012d308d341517%3A0x3588affa87d5566a!2sPg%20Analytics%20Virudhunagar!5e0!3m2!1sen!2sin!4v1727275093617!5m2!1sen!2sin" 
                        allowfullscreen="" 
                        loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
                
            </div>
        </div>
        <div class="row mt-4 ">
            <div class="col-lg-12 footer-law">
                <p>As per 2018 supreme court order, online sale of firecrackers are not permitted! We value our customers and at the same time, respect jurisdiction. We request you to add your products to the cart and submit the required crackers through the enquiry button. We will contact you within 24 hrs and confirm the order through WhatsApp or phone call. Please add and submit your enquiries and enjoy your Diwali with PG Analytics Crackers. Our License No.----. PG Analytics Crackers as a company following 100% legal & statutory compliances and all our shops, go-downs are maintained as per the explosive acts. We send the parcels through registered and legal transport service providers as like every other major companies in Sivakasi is doing so.</p>
            </div>
            <div class="col-lg-12 footline mt-5"></div>
            <div class="col-lg-12 text-center mt-3 Copyright">Copyright © 2022, PG Analytics Crackers.All rights reserved</div>
            
        </div>
       
       

    </div>

</div>
<div class="fixed-image">
    <img src="../../../assets/image/quickpurchase.png" alt="Quick Purchase">
</div>
