
<div class="first-header">
    <div class="row header">
        <div class="col-lg-3">Orders - +1234567890</div>
        <div class="col-lg-5">Welcome to PG Analytics Crackers, Virudhunagar</div>
        <div class="col-lg-3 mail">Mail Us: abcdef&#64;gmail.com</div>
    </div>
</div>

<div class="container-fluid">
    <div class="row box">
        <div class="col-lg-4">
            <div class="rounded-2 px-3 m-3 mx-5 bg-success border border-4 border-warning text-white fs-5">
                <p>Crackers Available All 365 Days!<br> Diwali Sales Started. Celebrate <br> Diwali with Awesome
                    Crackers</p>
            </div>
        </div>
        <div class="col-lg-4  box2">
            <div class="row d-flex align-items-center innerbox">
                <div class="col-lg-3 col-md-4 col-sm-3 innerbox1">
                    <img class="image-fluid" src="../../../assets/image/homesmall.jpg" alt="Small Image" width="100">
                </div>
                <div class="col-6 col-md-4   col-sm-3">
                    <img class="image-fluid boximage2" src="../../../assets/image/images.png" alt="Main Image"
                        width="160">
                </div>
                <div class="col-lg-3  col-md-4  col-sm-3 innerbox2">
                    <img class="image-fluid" src="../../../assets/image/homesmall.jpg" alt="Small Image" width="100">
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-center mt-4">
            <div>
                <h5 class="text-danger fw-bold">FOR QUERIES & BULK ORDER</h5>
                <h6 class="d-flex justify-content-center fw-bold">+91 1234567890</h6>
                <h6 class="d-flex justify-content-center fw-bold">+91 9876543210</h6>
            </div>
        </div>
    </div>
</div>

<!-- Hamburger Button -->
<!-- <button class="hamburger mt-2" aria-label="Toggle navigation">
    <span class="hamburger-icon"></span>
</button> -->
<div class="hamburger" (click)="toggleNav()">
    <span class="hamburger-icon"></span>
  </div>
<nav class="navbar"  [class.show]="isNavVisible">

    <ul>
        <li class="nav-options"><a [routerLink]="['/']">Home</a></li>
        <li class="nav-options">About</li>
        <li class="nav-options"><a [routerLink]="['/Productitem']">Product</a></li>
        <li class="nav-options"><a [routerLink]="['/Safety']">Safety Tips</a></li>
        <li class="nav-options"><a href="../html/contact.html">Contact Us</a></li>
    </ul>
</nav>

<div class="banner">
    <div class="banner1">
        <img src="../../../assets/image/ban2.jpeg" alt="Banner 1" class="image-fluid">
    </div>
    <div class="banner2">
        <img src="../../../assets/image/ban.jpeg" alt="Banner 2" class="image-fluid">
    </div>
</div>

<div class="about-wishes">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 ">
                <img src="../../../assets/image/about1.jpg" alt="" class="wish-img">
            </div>
            <div class="col-lg-6">
                <div class="text1 ">
                    <h1 class="wishes1 text-center ">" PG Analytics Crackers Virudhunagar Online Crackers Shop "
                    </h1>
                    <p class="wishes2 text-center">PG Analytics Crackers is the leading supplier of crackers & fancy
                        crackers items. Firecrackers have always been an integral part of indian culture and
                        tradition. Be it a festival, a wedding, reunion or any other special occasion, it is in our
                        hearts to celebrate it in the glory of lights. Our aim is to provide the excellent services
                        and true value for money.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row transparent-about-box">

    <div class="col-lg-6  text-center about-content">


        <h4 class="about-text1 acme-regular">Fireworks Direct Outlet<br>
            Available With Discount.
            <br> Celebrate Diwali with<br> Awesome Crackers!....
        </h4>
        <div class="container">
            <h5 class="about-text2">Our service is to fulfill your needs and requirements to the maximum extent
                possible. We are the best place to fullfill your cracker shopping. We have cracker gift boxes,
                rockets, ground chakkars, flowerpots, sparklers, skyshots and various other type of crackers. After
                understanding the hardship of buying quality crackers during diwali season we came up with the
                solution to buy crackers online. We sell products only which is of good quality and received
                acceptance by the customers.</h5>
            <button type="button" class="about-btn"><i class="bi bi-telephone-fill"> </i> +91 11521 64314</button>
        </div>



    </div>
    <div class="col-lg-6 about-content2"></div>
</div>
<div class="choose">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="choose-text1 mt-3">Why Choose Us</h2>
                <img src="../../../assets/image/line.png" alt="" class="chooseimg mt-2">
                <p class="choose-text2 mt-4">In a competitive world of fire crackers, we are well known for
                    qualitative crackers and fancy
                    novelties at reasonable price. The products quality are 100% good and delivered safely. Select
                    your favorite crackers from our wide range of collections and also provide the number of items
                    in each product. Our services created a positive image among our customers</p>
            </div>
            <div class="col-lg-3 choose-box mt-5">

                <div class="choose-box1">
                <i class="bi bi-puzzle-fill choose-icon" ></i>
                    <h4 class="text-center">Quality</h4>
                    <p class="text-center mt-4">Quality & innovation are the key behind our success</p>
                </div>
            </div>
            <div class="col-lg-3 choose-box mt-5">

                <div class="choose-box2">
                    <i class="bi bi-magic choose-icon"></i>
                    <h4 class="text-center">Safe to Use</h4>
                    <p class="text-center mt-4">Crackers we offer are safe and are made from fine quality raw materials.</p>
                </div>
            </div>
            <div class="col-lg-3 choose-box mt-5">

                <div class="choose-box1">
                    <i class="bi bi-tag-fill choose-icon"></i>
                
                    <h4 class="text-center">Genuine Price</h4>
                    <p class="text-center mt-4">Quality products at economic price is the main motto for us.</p>
                </div>
            </div>
            <div class="col-lg-3 choose-box mt-5">

                <div class="choose-box2">
                    <i class="bi bi-heart-fill choose-icon"></i>
                
                    <h4 class="text-center">Satisfaction</h4>
                    <p class="text-center mt-4">Our quality and timely delivery has attracted customers easily.</p>
                </div>
            </div>
          
            
        </div>

    </div>

</div>
<div class="footer mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 foot1">
                <h2 class="foot1-text1">PG Analytics </h2>
                <h2 class="foot1-text2">Crackers</h2>
                <p class="foot1-text3">
                    "PG Analytics" is acknowledged as the renowned manufacturer of an exclusive range of Ground
                    Chakkar, Flower Pots, Twinkling Star, Atom Bomb, Rockets etc.
                </p>

                <p class="foot1-text3">We offer the best quality products at best price.Make celebrations more
                    memorable with superior quality of our crackers all over India.</p>
                
            </div>
            <div class="col-lg-4 foot2 ">

                <h2 class="foot2-text1">Get In Touch</h2>
                <div class="foot2-text2 mt-5">

                    <ul >
                        <li> <i class="bi bi-geo-alt-fill"></i> 57/2, First Floor, Aruppukottai Rd, Virudhunagar, Tamil Nadu 626001                            </li>
                        <li><i class="bi bi-telephone-plus-fill"></i>+91 12345 67890</li>
                        <li><i class="bi bi-telephone-plus-fill"></i>+91 12345 67890</li>
                        <li><i class="bi bi-telephone-plus-fill"></i>+91 12345 67890</li>
                        <li><i class="bi bi-envelope"></i>abc&#64;gmail.com</li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-4 foot3">
                <h2 class="foot3-text1">Reach Us</h2>
                <br><br>
                <div class="map">
                    <iframe class="iframe"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3934.1873582455823!2d77.95440967400226!3d9.579112480137516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b012d308d341517%3A0x3588affa87d5566a!2sPg%20Analytics%20Virudhunagar!5e0!3m2!1sen!2sin!4v1727275093617!5m2!1sen!2sin" 
                        allowfullscreen="" 
                        loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
                
            </div>
        </div>
        <div class="row mt-4 ">
            <div class="col-lg-12 footer-law">
                <p>As per 2018 supreme court order, online sale of firecrackers are not permitted! We value our customers and at the same time, respect jurisdiction. We request you to add your products to the cart and submit the required crackers through the enquiry button. We will contact you within 24 hrs and confirm the order through WhatsApp or phone call. Please add and submit your enquiries and enjoy your Diwali with PG Analytics Crackers. Our License No.----. PG Analytics Crackers as a company following 100% legal & statutory compliances and all our shops, go-downs are maintained as per the explosive acts. We send the parcels through registered and legal transport service providers as like every other major companies in Sivakasi is doing so.</p>
            </div>
            <div class="col-lg-12 footline mt-5"></div>
            <div class="col-lg-12 text-center mt-3 Copyright">Copyright © 2022, PG Analytics Crackers.All rights reserved</div>
            
        </div>
       
       

    </div>

</div>
<div class="fixed-image">
    <img src="../../../assets/image/quickpurchase.png" alt="Quick Purchase">
</div>

